#page_section.hide_canvas #content {
    .added,
    [status='added'] {
        background-color: var(--lightgreen);
    }

    .deleted,
    [status='deleted'] {
        background-color: var(--lightred);
    }

    .media-plane,
    .col {
        &.added,
        &[status='added'] {
            &::after {
                background-color: var(--lightgreen);
            }
        }

        &.deleted,
        &[status='deleted'] {
            &::after {
                background-color: var(--lightred);
            }
        }
    }
}

#content {
    padding-top: 4rem;

    * {
        font-size: 1rem;
        line-height: 1.5em;
    }

    > * {
        max-width: 600px;
        margin: 0 auto;
    }

    .grid {
        display: flex;
        gap: 1rem;
        @media screen and (max-width: 500px) {
            flex-direction: column;
            .col ul:last-child {
                margin-bottom: 0px;
            }
        }
        .col {
            flex: 1 1 0px;
            min-width: 13rem;
        }
    }

    ul {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
    }

    h6 {
    }

    br {
        height: 1rem;
        line-height: 1rem;
        display: block;
        content: ' ';
    }

    figure {
        aspect-ratio: 2 / 1;
        max-width: 800px;
        max-height: calc(100vh - var(--padding_polaroid) * 3 - var(--frame_description_h));
    }
    img {
        display: block;
    }

    a {
        text-decoration: underline;
    }

    .videowrapper {
        width: 100%;
        > * {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    .added,
    [status='added'],
    .deleted,
    [status='deleted'] {
        background-color: transparent;
        transition: background-color 1s 0.5s;
    }

    .media-plane,
    .col {
        &.added,
        &.deleted,
        &[status='added'],
        &[status='deleted'] {
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                opacity: 0.5;
                pointer-events: none;
                background-color: transparent;
                transition: background-color 1s 0.5s;
            }
        }
    }

    span {
        &.text-plane {
            display: block;
        }
        &.added,
        &.deleted,
        &.removed {
            font-size: inherit;
            font-weight: inherit;
            font-style: inherit;
            font-family: inherit;
        }
    }

    .text-plane .text-plane {
        display: inline;
    }
}
